In [5]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

ModuleNotFoundError: No module named 'sklearn'

In [9]:
import pandas as pd
# read the csv MrBeast/MrBeast_2023-01-17.csv
df = pd.read_csv('MrBeast/MrBeast_2023-01-17.csv')
df.head()

,Title and Day Published,Title,Publish Date,Publish Time (EST),Days Since Published,Views,Views per Day,Likes,Like to View Ratio,Comments,Comment to View Ratio,Duration in Seconds,Duration in Minutes
0,I Survived 50 Hours In Antarctica - (2022-12-24),I Survived 50 Hours In Antarctica,2022-12-24,2022-12-24 15:59:59,24,79408982,3308707.6,3533170,0.044493,133983,0.001687,730,12.167
1,Hydraulic Press Vs Lamborghini - (2022-12-10),Hydraulic Press Vs Lamborghini,2022-12-10,2022-12-10 16:00:01,38,94497580,2486778.4,4089840,0.043280,121292,0.001284,625,10.417
2,Would You Fly To Paris For A Baguette? - (2022...,Would You Fly To Paris For A Baguette?,2022-12-08,2022-12-08 15:12:27,40,457205770,11430144.2,25690316,0.056190,54637,0.000120,48,0.800
3,"100 Kids Vs 100 Adults For $500,000 - (2022-12...","100 Kids Vs 100 Adults For $500,000",2022-12-03,2022-12-03 16:00:00,45,99263866,2205863.7,3018711,0.030411,90445,0.000911,923,15.383
4,Gordon Ramsay Tries Most Expensive Chocolate B...,Gordon Ramsay Tries Most Expensive Chocolate Bar!,2022-11-19,2022-11-19 15:59:59,59,108386817,1837064.7,7753021,0.071531,18893,0.000174,41,0.683

In [ ]:
# splitting the data into train and test
X = df[['Days Since Published', 'Likes', 'Comments', 'Duration in Seconds']]
y = df['Views']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# building the model
reg = LinearRegression().fit(X_train, y_train)

# fitting the model
reg.fit(X_train, y_train)